.options {
    width: 600px;
}

.sn-option {
    border: 2px solid rgb(112, 112, 12);
    border-radius: 15px;
}

.icon {
    font-size: 15px;
}

@media screen and (max-width:767px) {
    .options {
        width: 400px;
    }

}