.nav a {
    margin-left: 40px;
    color: black;
}

.nav a:hover {
    color: rgb(187, 175, 159);
}

.header {
    margin-left: 100px;
    margin-right: 100px;
}

.for {
    color: orange;
}

@media screen and (max-width:767px) {

    .title p {
        display: flex;
        font-size: 40px;
        background-color: red;
        margin-left: 0;
        margin-top: 20px;
    }

    .title {
        text-align: center;
    }
}