.banner {
    background-image: url(/public/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}

@media screen and (max-width:767px) {
    .welcome {
        font-size: 30px;
    }

    .banner-title {
        text-align: left;
        margin-left: 15px;
    }

    .des {
        font-size: 15px;
    }

    .banner {
        height: 45vh;
    }
}