.que {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    height: 150px;
}

@media screen and (max-width:767px) {
    .que {
        background-color: rgb(153, 208, 255);
        height: auto;
    }

}